/**
 * Description: Obsidian CSS snippet for smooth text cards in canvases. It visually synchronizes cards reading and editing views.
 * Author: stdword
 * Repository: https://github.com/stdword/obsidian13-canvas-smooth-cards
 *
 * Version: 2
 * Last change: 2026-03-10
 */


/* prevent scrollbars text shifting */
.markdown-source-view .cm-contentContainer > .cm-content.cm-lineWrapping > .cm-line {
    margin-right: -2px !important;
}



/* paragraphs */
.canvas .el-p > p:has(> span.vertical-space) {
    margin-top: 0px;  /* obsidian just would use default size for single P-element */
}
.canvas .el-p > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.canvas :is(.el-ul, .el-ol) + .el-p > p:has(> span.vertical-space:first-child) {
    margin-top: 24px;
}



/* number lists */
.canvas ol::before {
    margin-left: -2px;
}
.canvas ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

.canvas ul > li > ol > li {
    margin-left: 36px;
}



/* bullet lists */
.canvas ul::before {
    margin-left: -2px;
}

.canvas ul {
    margin-top: 0px;
    margin-bottom: 0px;
}
.canvas .el-ul > ul > li {
    margin-top: 0px;
    margin-bottom: 0px;
}

.canvas ol > li > ul > li {
    margin-left: 36px;
}

/* bullet lists :: bullet */
.canvas ul > li > .list-bullet {
    margin-top: 2px;
}
.canvas .has-list-bullet .list-bullet::after {
    margin-left: -4px;
    margin-top: -3px;
}
.cm-formatting-list.cm-formatting-list-ul {
    margin-right: 7px;
}



/* headers */
.canvas .el-h1 > h1,
.canvas .el-h2 > h2,
.canvas .el-h3 > h3,
.canvas .el-h4 > h4,
.canvas .el-h5 > h5,
.canvas .el-h6 > h6 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.canvas .markdown-preview-section > .markdown-preview-pusher + :is(.el-h2) > :is(h2),
.canvas .markdown-preview-section > .markdown-preview-pusher + :is(.el-h3) > :is(h3) {
    margin-top: 0px !important;
}

.mod-inside-iframe .HyperMD-header {
    padding-top: 0px !important;
}



/* table */
.canvas .el-table {
    margin-top: 24px;
}
